name: English Resume

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: resume_en.tex
          latexmk_use_xelatex: true
          texlive_version: 2025
      - name: Upload PDF file
        uses: actions/upload-artifact@v6
        with:
          name: PDF
          path: resume_en.pdf

